{% extends 'base.html' %}
{% block title %} signup {% endblock %}
 {% block head %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br>
	<div class="container">
	    <form method="POST" class="form-group">
		{% csrf_token %}
		{{ form|crispy }}
		<p>Don't have an accoount? Create one <a href="/signup">here</a></p>
		<button type="submit" class="btn btn-success">Login</button>	
	    </form>
	</div>
{% endblock %}