{% extends 'base.html' %}
{% block title %} pesan-pesan {% endblock %}
{% block content %}
    <br><br><br>
  <div class="container">
  	<div class="row"><br>
    <p>
      <a href="{% url 'tambah' %}" class="btn btn-primary" name="tambah" style="float: left;">tambah pesan</a>
    </p>
  </div>
        <div class="row">
  {% for j in data %}

      <div class="col-lg-6 ">
        		<div class="jumbotron jumbotron-fluid" style="background-color: {{ j.warna }}">
        		<h4>   {{ j.pesan }}</h4><br>
             <p class="lead" style="text-align: right;">{{ j.nama }}   </p>
             <div class="col text-center">
             <p>
              <a href="{% url 'warna' pk=j.pk %}" class="btn btn-secondary"  style="float:center;">ganti warna</a>
             </p>        	
             </div>		
        			
        		</div>
        </div>
      
      {% endfor %}
      </div>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  {% endblock %}