<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="opacity: 80%">
		  <a class="navbar-brand" href="#">MyWeb</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link " href="{% url 'index' %}">story 7</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'story8' %}">story 8</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'story9' %}">story 9</a>
		      </li>
		    </ul>
		  

		  <div class="navbar-collapse collapse order-3 ">
        <ul class="navbar-nav ml-auto">
        	{% if user.is_authenticated %}
        	<li class="nav-item">
                <a class="nav-link" href="/profile">profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
    </nav>
</div>