{% extends 'base.html' %}
{% block title %} login redirect {% endblock %}
 {% block head %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}

{% block content %}
<br><br><br>
	<div class="container">
		<h1>Profile:</h1>
		<img src="{{profile.image}}">
		<h3>Nama depan: {{profile.depan}}</h3><br>
		<h3>Nama belakang: {{profile.belakang}}</h3><br>
		<h3>tanggal lahir: {{profile.tanggal}}</h3><br>
	</div>
{% endblock %}