{% extends 'base.html' %}
{% block title %} story8 {% endblock %}
 {% block head %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var bgcol = ["#5e5e5e","#FFFFFF","#68B8BD"];
    var achcol = ["#2C2C2C","#898989","#017E7E"];
    var acbcol = ["#898989","#ECECEC","#B7F1F1" ];
    var tecol = ["#FFFFFF", "#000000","#000000"];
    var i = 0;
  $( function() {
    $( ".accordion" ).accordion({
        header: "> .group > .acchead",
        collapsible:true,
        event:"click",
        heightStyle:true,
        active:false
    }).sortable();

$(".up").click(function() {
        var index = $(this).parent().parent();
        if (index.not(':last-child'))
            index.prev().before(index);
    });

    $(".down").click(function(){
        var index = $(this).parent().parent();
        if (index.not(':first-child'))         
            index.next().after(index);
    });


    
    $("#btn").click(function(){     
        document.body.style.background = bgcol[i];
        $(".acchead").css("color", tecol[i]);
        $(".accbody").css("color", tecol[i]);
        $(".acchead").css("background-color", achcol[i]);
        $(".accbody").css("background", acbcol[i]);
        if(i<3){
            i++;
            if(i==3){
                i=0;
            }
        } 
    })

  } );


  </script>
{% endblock %}
{% block content %}
    <br><br><br>
<button id="btn">Change theme</button>

<div class="container">
    <div class="col-lg-6">
        <div class="accordion">
        {% for d in data %}
        <div class="group">
            <div class="acchead">               
                {{d.head}}
                <button class='up'>^</button>
                <button class='down'>v</button>
                
            </div>
            <div class="accbody">
                {{d.pesan|linebreaks}}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
