{% extends 'base.html' %}
{% block title %} tambah pesan {% endblock %}
{% block content %}
    <br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<form  action="{% url 'cektambah' %}" method="post" style="">
    {% csrf_token %}
    <div class="form-group">
    <label>Nama:</label>
    <!-- <div style="opacity: 80%"> -->
    {{form.nama}}
    </div>

    <div class="form-group">
    <label>pesan:</label>
    <div style="opacity: 80%">
    {{form.pesan}}
    </div>
    </div>

    
<button type="submit" class="btn btn-success">tambah</button>
</form>  
</div></div></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}